body {
  display: flex;
  margin: 0;
  margin-bottom: 130px;
/*  padding-bottom: 130px;*/
  font-family: Arial, sans-serif;
}
.sidebar {
  width: 30%;
  background-color: #f4f4f4;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  height: 100vh;
  overflow-y: auto;
}
.content {
  width: 70%;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}
.article {
   margin-bottom: 5px;
   cursor: pointer;
   padding: 10px;
   border: 1px solid #ddd;
   background-color: #fff;
}
.article:hover {
   background-color: #f0f0f0;
}
