---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Make Games With JS';
const description = 'Articles, Writing HTML5 JavaScript games.';
const permalink = Astro.site.href;
---
<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
     <div class="home-copy">
<h3>2025-03-28</h3>
    <div>
        <p>Here's a great quote from one of the all-time great game-makers, 
            <a href="https://en.wikipedia.org/wiki/Shigeru_Miyamoto" target="_blank">Shigeru Miyamoto</a> (original creator of Donkey Kong)
        </p>
            <p class="blockquote">"And that's the point – Not to make something sell, something very popular, 
                but to love something, and make something that we creators can love. 
                It's the very core feeling we should have in making games."</p>
    </div>
	<h3>2025-02-24</h3>
	<p> There's a great new example which includes scoring, high scores & sounds.</p>
	<p> Check out chapter 008 - 001 example</p>
	<p> It's like a bad version of Flappy Bird & uses Flappy Bird score board.  Check it out!</p>
        <h3>2025-02-23</h3>
	<p> There's a new code sample to try out.<br>
	And it almost feels like a game.  <br>
	Although it is the most difficult game you'll probably ever play.<br>
	Try out the sample from Chapter 007 - 003 to see what I mean.<br>
	You have to move the character's head right over the circle but when you do
        the circle will disappear & you will get 10 points.  There are 100 circles
        so see if you can get the max of 1,000 points to win.  It's terrible & difficult.  :)
   </p>
        <h3>video of game play</h3>
	<video controls>
	   <source src="./code/videos/MakeGamesWithJS-dottyCat.mp4" type=video/mp4">
	</video>
	<h3>2025-02-22</h3>
        <p>
	Get all the source at <a href="https://github.com/raddevus/makegameswithjs" target="_blank">my github repo.</a></p>
	<p>Book is coming soon</p>
	<p>The book (Make Games With JS) will show you how to make games that you can share with your friends by simply sending them a link they can visit in their browsers.</p>
	<p>The latest example is playable in your mobile browser.  Try it out now by visiting the new chapter sample in Chapter 7 (files listed at link below).</p>
	<h3>2025-02-20</h3>
	<h2>Try The Samples</h2>
	<p>I've got the samples up through chapter six. Try them out.</p>
   <p>See <a href="code.htm">list of all examples</a>.</p>
	<h3>2025-02-19</h3>
	<h2>Coming soon...</h2>
	<h2>Make Games With JavaScript - The Book</h2>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
