---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Samples';
const description = 'Sample Code';
const permalink = `${Astro.site.href}samples`;

---

<BaseLayout title={title} description={description} permalink={permalink} current="samples">
  <div class="container">
     <h2>Runnable Examples via Sample Code</h2>

      <h2>All Samples</h2>
      <p>These are all of the existing samples so far.<br>
      These will run right in your browser, but please be aware that you'll need to click your browser's &lt;back:&gt; button to get back to the main site.  </p>
   <h2>Chapter 001</h2>
<p><a href="code/chpt001/chpt001-001.htm">chpt 001 - 001</a></p>
<p><a href="code/chpt001/chpt001-002.htm">chpt 001 - 002</a></p>
<p><a href="code/chpt001/chpt001-003.htm">chpt 001 - 003</a></p>
<p><a href="code/chpt001/chpt001-003a.htm">chpt 001 - 003a</a></p>
<p><a href="code/chpt001/chpt001-004.htm">chpt 001 - 004</a></p>
<h2>Chapter 002</h2>
<p><a href="code/chpt002/chpt002-001.htm">chpt 002 - 001</a></p>
<p><a href="code/chpt002/chpt002-002.htm">chpt 002 - 002</a></p>
<p><a href="code/chpt002/chpt002-003.htm">chpt 002 - 003</a></p>
<p><a href="code/chpt002/chpt002-004.htm">chpt 002 - 004</a></p>
<h2>Chapter 003</h2>
<p><a href="code/chpt003/chpt003-001.htm">chpt 003 - 001</a></p>
<p><a href="code/chpt003/chpt003-002.htm">chpt 003 - 002</a></p>
<p><a href="code/chpt003/chpt003-003.htm">chpt 003 - 003</a></p>
<p><a href="code/chpt003/chpt003-004.htm">chpt 003 - 004</a></p>
<p><a href="code/chpt003/chpt003-005.htm">chpt 003 - 005</a></p>
<p><a href="code/chpt003/chpt003-006.htm">chpt 003 - 006</a></p>
<h2>Chapter 004</h2>
<p><a href="code/chpt004/chpt004-001.htm">chpt 004 - 001</a></p>
<p><a href="code/chpt004/chpt004-002.htm">chpt 004 - 002</a></p>
<p><a href="code/chpt004/chpt004-003.htm">chpt 004 - 003</a></p>
<h2>Chapter 005</h2>
<p><a href="code/chpt005/chpt005-001.htm">chpt 005 - 001</a></p>
<p><a href="code/chpt005/chpt005-002.htm">chpt 005 - 002</a></p>
<p><a href="code/chpt005/chpt005-003.htm">chpt 005 - 003</a></p>
<h2>Chapter 006</h2>
The bunny asset used in the first 3 samples is from the artist (<a href="https://x.com/Cup_Nooble_" target="_blank">@Cup_Nooble_ - X.com</a>) <br>
See more of their assets at itch.io => <a href="https://cupnooble.itch.io/sprout-lands-asset-pack" target="_blank">sprout lands asset pack</a>
<p><a href="code/chpt006/chpt006-001.htm">chpt 006 - 001</a></p>
<p><a href="code/chpt006/chpt006-002.htm">chpt 006 - 002</a></p>
<p><a href="code/chpt006/chpt006-003.htm">chpt 006 - 003</a></p>
<p><a href="code/chpt006/chpt006-004.htm">chpt 006 - 004</a></p>
<h2>Chapter 007</h2> (added 2025-02-20)
<h3>Adding Ability to Handle Mobile Touch</h3>
<p><a href="code/chpt007/chpt007-001.htm">chpt 007 - 001</a></p>
<p><a href="code/chpt007/chpt007-002.htm">chpt 007 - 002</a></p>
<p>Example 007 - 003 includes the most difficult game you ever played</p>
<p>Try to run the character over the colored circle - if you hit it with the center
of the character's head the circle will disappear & you will get 10 points</p>
<p><a href="code/chpt007/chpt007-003.htm">chpt 007 - 003</a></p>
<p><a href="code/chpt007/chpt007-004.htm">chpt 007 - 004</a></p>
<p>Example 008 - 001 Includes Scoring & Sound</p>
<p><a href="code/chpt008/chpt008-001.htm">chpt 008 - 001</a></p>
<h4>Sound Issues Are Fixed In 002 - 2025-02-26</h4>
<p><a href="code/chpt008/chpt008-002.htm">chpt 008 - 002</a></p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
